.korisnik {
  background: hsl(210, 50%, 95%); 
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  width: 500px; 
  border: 1px solid #d1d5db;
  font-family: Arial, sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.korisnik h2 {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d1d5db; 
}

.korisnik p strong {
  font-weight: bold;
  color: #007bff;
}

.kosarica-container {
  background: hsl(210, 50%, 95%) ;
  padding: 20px;
  border-radius: 8px;
  width: 500px ;
  margin: auto;
  border: 1px solid #d1d5db;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.kosarica-container h2 {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.kosarica-container h2::before {
  content: "🛒"; 
  font-size: 20px;
}

.stavka {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #ffffff;
}

.stavka img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.najskuplja {
  background: #ffebeb;
  border: 2px solid red;
}

.ukupna-cijena {
  font-weight: bold;
  margin-top: 15px;
  font-size: 16px;
}
